@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Nunito&family=Poppins:wght@400;500;700&display=swap');

body{
    font-family: 'Edu TAS Beginner', cursive;

    font-family: 'Nunito', sans-serif;

    font-family: 'Poppins', sans-serif;
}